if [ -f "$NVM_DIR/nvm.sh" ]; then
  . "$NVM_DIR/nvm.sh"
  NODE_VERSION="$(cat .nvmrc)"
  if ! nvm ls "$NODE_VERSION" >/dev/null 2>&1; then
    nvm install "$NODE_VERSION"
  fi
  nvm use $VERSION
fi
use nix 2>/dev/null || true
