# app

# tamagui
**/.expo/*
**/.next/*
**/.tamagui/*
*.tsbuildinfo
.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.pnpm-debug.log*
.vercel
.yarn/*
/build
/node_modules
/out/
THUMBS_DB
npm-debug.log*
thumbs.db
yarn-debug.log*
yarn-error.log*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# mkpm
.mkpm/*
**/.mkpm/*
!/.mkpm/.cache.tar.gz
!/.mkpm/.bootstrap.mk
