package-lock=false
@risserlabs:registry=https://gitlab.com/api/v4/packages/npm/
'//gitlab.com/api/v4/packages/npm/:_authToken'="${NPM_AUTH_TOKEN}"
'//gitlab.com/api/v4/projects/33412251/packages/npm/:_authToken'="${NPM_AUTH_TOKEN}"
