{
	admin off
}

http://app.test, http://app.localhost {
	handle /api/graphql {
		uri strip_prefix /api
		reverse_proxy 127.0.0.1:4000
	}
	handle {
		reverse_proxy 127.0.0.1:5000
	}
	tls internal
}

http://account.test, http://account.localhost {
	handle {
		reverse_proxy 127.0.0.1:8080
	}
	tls internal
}

http://docs.test, http://docs.localhost {
	handle {
		reverse_proxy 127.0.0.1:8080
	}
	tls internal
}

http://frappe.test, http://frappe.localhost {
	handle {
		reverse_proxy 127.0.0.1:8000 {
			header_up Host frappe.localhost
		}
	}
	tls internal
}
