{
	admin off
}

http://app.test, http://app.localhost {
	handle /api/graphql {
		reverse_proxy 127.0.0.1:{env.MESH_PORT} {
			transport http {
				websocket
			}
		}
	}
	handle {
		reverse_proxy 127.0.0.1:{env.ONE_PORT}
	}
	tls internal
}

http://account.test, http://account.localhost {
	handle {
		reverse_proxy 127.0.0.1:8080
	}
	tls internal
}

http://docs.test, http://docs.localhost {
	handle {
		reverse_proxy 127.0.0.1:{env.VOCS_PORT}
	}
	tls internal
}

http://frappe.test, http://frappe.localhost {
	handle /socket.io/* {
		reverse_proxy 127.0.0.1:9000 {
			header_up Host frappe.localhost
			transport http {
				websocket
			}
		}
	}
	handle {
		reverse_proxy 127.0.0.1:8000 {
			header_up Host frappe.localhost
		}
	}
	tls internal
}

http://storybook.test, http://storybook.localhost {
	handle {
		reverse_proxy 127.0.0.1:{env.STORYBOOK_PORT}
	}
	tls internal
}
